.input-methods-component {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.input-methods-component.desktop {
  margin-top: 0;
  max-width: min(1100px, 100svw);
  margin: 0 auto;
}

.input-methods-component.desktop .input-column:nth-child(1) {
  border-right: 1px solid rgb(189, 189, 189);
  margin-right: -1px;
}

.input-methods-component.mobile {
  max-width: 200svw;
  width: 200svw;
  transition: 0.3s ease-in-out;
  transform: translateX(0);
}

.input-methods-component.mobile.method {
  transform: translateX(-100svw);
}

.input-column {
  display: flex;
  flex-direction: column;
}

.input-column.desktop {
  gap: 1rem;
  width: calc(100% - 2rem);
  padding: 1rem;
  transition: 0.3s ease-in-out;
}

.input-column.mobile {
  width: calc(100% - 0.5rem);
  gap: 0.5rem;
  padding: 0.25rem;
}

.numeric-input-content {
  display: grid;
  gap: 4px;
  grid-template-columns: auto 5rem 1fr 2rem;
  align-items: center;
}

.numeric-input-content.desktop {
  grid-template-columns: auto 1fr auto 2rem;
}

.numeric-input-content.cell {
  grid-template-columns: 1fr;
}

.ant-segmented-item-label {
  padding: 0 0.5rem !important;
}

.method-input-content {
  display: grid;
  gap: 4px;
  grid-template-columns: auto 1fr 1.5rem;
  align-items: center;
}

.method-input-content.name {
  grid-template-columns: 1fr 3fr;
}

.method-input-content.cell {
  grid-template-columns: 1fr;
  gap: 4px;
}
