
.navigation-wrapper {
  position: relative;
  display: flex;
  max-height: 100svh;
  width: 100svw;
  flex-direction: column;
}

.navigation-content {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.navigation-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation-header.bar {
  background-color: rgb(188, 188, 232);
  border-bottom: 1px solid #e8e8e8;
}

.navigation-header.content {
  padding: 0.25rem .5rem;
  max-width: 800px;
  margin: 0 auto;
}
