.navigation-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0.25rem .5rem;
  background-color: #fafafa;
  border-bottom: 1px solid #e8e8e8;
}
