.ant-input-filled {
  background-color: rgb(248, 248, 255) !important;
}

.ant-input-number-filled {
  background-color: rgb(248, 248, 255) !important;
}

.ant-segmented {
  background-color: rgb(248, 248, 255) !important;
}